<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app/all.css">
    <link rel="stylesheet" href="/css/app/index.css">
</head>

<body>
    {{! nav }}
    <header>

            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img id="logo" src="/image/logo/logo.png">
                    <strong>Booking</strong>
                </a>
                {{!mobile-button}}
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <div class="campus_background main_background_with_img"
        style="background-image: url(/image/background1.jpg); background-size: cover;">
        <div class="main_background-black">
            <div class="container">
                <form action="/searches/univ" accept-charset="UTF-8" method="get">
                    <div class="row" id="scrollable-dropdown-menu" style="margin-top: 150px; justify-content: center;">
                        <div class="main-univ_search col-9 col-sm-10 col-md-4" style="z-index: 100;">
                            {{! Typed.js List }}
                            <div style="border-bottom: 5px solid #18d26e; width: 120%; z-index: 10">
                                <span id="main_typed" class="typeahead input_noborder_white tt-input"
                                    style="color: white; position: relative; vertical-align: top; background-color: transparent;"></span>
                            </div>
                        </div>

                        <div class="col-3 col-sm-2 col-md-1" style="margin-top: 5px; text-align: left;">
                            <input type="submit" name="commit" value="" class="fas fa-search"
                                style="color: white; font-size: 40px; background-color: transparent; border: 0px solid transparent; cursor: pointer"
                                data-disable-with="">
                        </div>
                        <div class="offset-md-2 col-12 col-sm-12 col-md-7"
                            style="margin-top: 5px; text-align: left; color: white;">
                            <small id="info">지역 검색 후 검색결과 클릭</small>
                        </div>

                        <div id="typed_string">
                            <p>강남구</p>
                            <p>서대문구</p>
                            <p>용산구</p>
                            <p>동작구</p>
                            <p>동대문구</p>
                            <p>송파구</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a href="#content" data-offset="100" class="one-page-arrow" style="color: #fff">
            <i class="fas fa-angle-down infinite animated fadeInDown"></i>
        </a>
    </div>
    <div class="footer">
        <div style="margin-top: 10px"><a href="https://github.com/dongw00" target="_blank"
                style="color: #b5b5b5; font-size: 23px;"><i class="fab fa-github-alt"></i></a></div>
        <span style="color: #fbc184">2019년 1학기 종합설계</span> 작품입니다.<br>
        해당 페이지는 서동우(한국항공대), 최진현(한국항공대), 박진우(한국항공대)가 제작했습니다.<br>
        <div style="margin-top: 30px"><small>Copyright(c) 2019 All rights reserved <a
                    href="https://github.com/dongw00">dongw00</a></small></div>
        <div><small><i class="far fa-envelope"></i> albadw0428@gmail.com</small></div>
    </div>

    {{! Mobile nav display }}
    <nav id="mobile-nav">
        <ul class="" style="margin-right: 100px; margin-top: 10px; touch-action: pan-y;">
            <div class="d-md-none" style="width: 165%">
                <li class="d-md-none"><a style="color: white" href="/users/sign_in">로그인</a></li>
            </div>
            <li><a href="/all_notices">공지사항</a></li>
            <li class="d-none d-md-block"><a href="/users/sign_in">로그인</a></li>
        </ul>
    </nav>

    {{! Mobile nav overlay }}
    <div id="mobile-body-overly" style="display: none;"></div>

    <script src="/js/lib/jQuery.js"></script>
    <script src="/js/lib/typed.min.js"></script>
    <script src="/js/app/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
</body>

</html>